* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.encode {

    padding: 20px 10px;
    width: 82vw;
    background-color: red;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 14px;
    cursor: pointer;
    border-radius: 10px;
    border: none;

}


.images-box {

    width: 82vw;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 46rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: fff;
}






@font-face {
    font-family: fff;
    src: url(font/fff/FFF_Ultra_TRIAL.ttf);
}

p {
    font-family: fff;
}

.fa, .fas {
    color: white;
    font-size: 2rem;
    ;
}

#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

.menu ul li a {
    padding: 2px 17px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.menu ul li a:hover {
    color: #ff0000;
}

@media only screen and (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(44, 43, 43);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        color: white;
        z-index: 10000;
    }

    #menu a {
        padding: 1rem;
        margin: 0 0.5rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        color: white;
        text-decoration: none;
        display: block;
    }

    .menu ul li a {
        padding: 2px 17px;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .menu ul li a:hover {
        color: #ff0000;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: white;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
        z-index: 100000;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(44, 43, 43);
        font-family: fff;
    }

    .max-width {
        max-width: 500px;
        width: 100%;
    }

    #containerScrollOne {
        display: flex;
        flex-direction: column;
    }

    #callToActionBox {
        background-color: yellow;
        height: 28rem;
    }

    #catImageBox {
        background-color: #2c2b2b;
        height: 33rem;
    }

    #catImage1 {
        height: 11rem;
        margin-top: 3rem;
        margin-left: 0rem;
        width: 83vw;
        border-radius: 10px;
    }

    #catImage2 {
        height: 12rem;
        width: 83vw;
        margin-left: 0rem;
        margin-top: 1rem;
        border-radius: 10px;
    }

    .textContainer {
        margin-left: 2rem;
        font-size: 2rem;
        font-family: fff;
        margin-top: 3rem;
        width: 19rem;
    }

    .textContainer h2 {
        color: red;
        font-size: 3rem;
        margin-top: 1rem;
    }

    .textContainer p {
        font-size: 2rem;
    }

    .formControl {
        display: block;
        margin-top: 1rem;
        width: 91%;
        height: 5rem;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1 px solid #ccc;
        border-radius: 4 px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        resize: none;
    }

    #revolutionP {
        font-size: 2rem;
    }

    input[type="file"] {
        display: none;
    }

    label {
        padding: 20px 10px;
        width: 83vw;
        background-color: teal;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 10px;
        cursor: pointer;
        font-family: fff;
        border: none;
        border-radius: 10px;
    }

    form {
        margin-left: 2rem;
    }

    #flImage {
        margin-top: 2rem;
    }

    #submit {
        margin-top: 1rem;
        padding: 20px 10px;
        width: 83vw;
        background-color: #ff4500;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 15px;
        cursor: pointer;
        font-family: fff;
        border: none;
        border-radius: 10px;
    }

    #uploadImage {
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-top: 10px;
        margin-left: 1rem;
    }

    #encodeImage {
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-top: 26px;
        margin-left: 1rem;
        border: none;
    }

    footer {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(44, 43, 43);
        font-family: 'Roboto';
        color: white;
        flex-wrap: nowrap;
        align-content: stretch;
        flex-direction: column;
        outline: none;
        text-decoration: none;
        margin-bottom: 0 !important;
    }

    footer a {
        outline: none;
        text-decoration: none;
        color: white;
    }


}

@media only screen and (min-width: 600px) {



    canvas {

        max-width: 100%;
        margin-top: 1rem;
    }

    .encode {

        padding: 20px 10px;
        width: 87vw;
        background-color: red;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 14px;
        cursor: pointer;
        border-radius: 10px;
        border: none;

    }


    .images-box {

        display: flex;
        justify-content: space-between;
        height: 70rem;
        width: 25rem;
        margin-left: 3rem;
        margin-top: 4rem;
        flex-direction: column;
        flex-wrap: nowrap;
        font-family: fff;

    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(44, 43, 43);
        font-family: fff;
    }

    .max-width {
        max-width: 500px;
        width: 100%;
    }

    #containerScrollOne {
        display: flex;
        flex-direction: column;
    }

    #callToActionBox {
        background-color: yellow;
        height: 35rem;
    }

    #catImageBox {
        background-color: ;
        height: 48rem;
    }

    #catImage1 {
        height: 15rem;
        margin-top: 5rem;
        margin-left: 2rem;
        width: 72vw;
        border-radius: 10px;
    }

    #catImage2 {
        height: 15rem;
        margin-top: 5rem;
        margin-left: 2rem;
        width: 72vw;
        border-radius: 10px;
    }

    .textContainer {
        margin-left: 2rem;
        font-size: 3.5rem;
        font-family: fff;
        background-color: ;
        width: 25rem;
        height: 30rem;
        margin-top: 3rem;
    }

    .textContainer h2 {
        color: red;
        font-size: 3rem;
    }

    .textContainer p {
        font-size: 2rem;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: .5rem;
        transition: .6s;
    }

    #menu a {
        display: block;
    }

    .menu ul li a {
        padding: 2px 17px;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .menu ul li a:hover {
        color: #ff0000;
    }

    #textContainerTwo {
        height: 5rem;
    }

    #revolutionP {
        font-size: 2rem;
    }

    .formControl {
        display: block;
        margin-top: 1rem;
        width: 91%;
        height: 5rem;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1 px solid #ccc;
        border-radius: 4 px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        resize: none;
    }

    input[type="file"] {
        display: none;
    }

    label {
        padding: 20px 10px;
        width: 87vw;
        background-color: teal;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 2rem;
        cursor: pointer;
        font-family: fff;
        border: none;
        border-radius: 10px;
    }

    #containerScrollTwo {
        height: 30rem;
    }

    form {
        margin-left: 2rem;
    }

    #flImage {
        margin-top: 2rem;
    }

    #submit {
        margin-top: 1rem;
        padding: 20px 10px;
        width: 84vw;
        background-color: #ff4500;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 15px;
        cursor: pointer;
        font-family: fff;
        border: none;
        border-radius: 10px;
    }

    #uploadImage {
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-top: 10px;
        margin-left: 1rem;
    }

    #encodeImage {
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-top: 26px;
        margin-left: 1rem;
        border: none;
    }

    footer {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(44, 43, 43);
        font-family: 'Roboto';
        color: white;
        flex-wrap: nowrap;
        align-content: stretch;
        flex-direction: column;
        outline: none;
        text-decoration: none;
        margin-bottom: 0 !important;
    }

    footer a {
        outline: none;
        text-decoration: none;
        color: white;
    }




}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(44, 43, 43);
        font-family: fff;
    }



    #menu {
        display: flex;
        list-style: none;
        gap: .5rem;
    }

    #menu a {
        display: block;
        padding: .5rem;
    }

    .menu ul li a {
        padding: 2px 17px;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .menu ul li a:hover {
        color: #ff0000;
    }

    #btn-mobile {
        display: none;
    }

    input[type='file'] {
        display: none;
    }

    .max-width {
        max-width: 500px;
        width: 100%;
    }

    #containerScrollOne {
        display: flex;
    }

    #callToActionBox {
        background-color: ;
        height: 40rem;
    }

    #catImageBox {
        background-color: ;
        height: 60rem;
    }

    #catImage1 {
        height: 17rem;
        margin-top: 5rem;
        margin-left: 0rem;
        width: 74vw;
        border-radius: 10px;
    }

    #catImage2 {
        height: 17rem;
        margin-top: 5rem;
        margin-left: 0rem;
        width: 74vw;
        border-radius: 10px;
    }

    .textContainer {
        margin-left: 4rem;
        font-size: 3rem;
        font-family: fff;
        margin-top: 1rem;
        width: 27rem;
    }

    .textContainer h2 {
        color: red;
        font-size: 3rem;
    }

    .textContainer p {
        font-size: 2rem;
        margin-left: 0rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {



    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(44, 43, 43);
        font-family: fff;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: .5rem;
    }

    #menu a {
        display: block;
        padding: .5rem;
    }

    .menu ul li a {
        padding: 2px 17px;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .menu ul li a:hover {
        color: #ff0000;
    }

    #btn-mobile {
        display: none;
    }

    input[type='file'] {
        display: none;
    }

    .max-width {
        max-width: 500px;
        width: 100%;
    }

    #containerScrollOne {
        display: grid;
        grid-template-columns: 50vw 50vw;
        overflow: hidden;
    }

    #callToActionBox {
        background-color: yellow;
        height: 43rem;
        width: 50vw;
    }

    #catImageBox {
        background-color: ;
        height: 43rem;
        width: 50vw;
    }

    #catImage1 {
        height: 15rem;
        margin-top: 0rem;
        margin-left: 12rem;
        width: 30vw;
        border-radius: 10px;
    }

    #catImage2 {
        height: 14rem;
        width: 30vw;
        margin-left: 8rem;
        margin-top: 2rem;
        border-radius: 10px;
    }


    .textContainer {
        margin-left: 4rem;
        font-size: 4rem;
        font-family: fff;
        width: 44vw;
        word-break: break-word;
    }

    .textContainer h2 {
        color: red;
        font-size: 3rem;
    }

    .textContainer p {
        font-size: 2rem;
    }

    #revolutionP {
        font-size: 3rem;
    }

    input[type="file"] {
        display: none;
    }

    label {
        padding: 20px 10px;
        width: 232px;
        background-color: #333;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 80px;
        cursor: pointer;
    }

    form {
        margin-left: 4rem;
    }

    #flImage {}

    #submit {
        margin-top: 1rem;
        padding: 20px 10px;
        width: 232px;
        background-color: red;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 15px;
        cursor: pointer;
    }

    .formControl {
        display: block;
        margin-top: 1rem;
        width: 91%;
        height: 5rem;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1 px solid #ccc;
        border-radius: 4 px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        resize: none;
    }



    button {
        padding: 20px 10px;
        width: 232px !important;
        background-color: red;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 14px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}